/* 12. b: az oldal háttérszíne legyen #ebd59b */
body{
    background-color: #ebd59b;
}

h1, h2 {
    font-weight: bold;
    color: #0a0550;
}

/* 12.a: sorkizárt bekezdés és 20px margó */
p{
    text-align: justify;
    margin-left: 20px;
}

/* 12.c: A hivatkozás mindig vörös, aláhúzás nélküli */
a{
    color: #8b0000;
    text-decoration: none;
}

a:hover{
    color: #8b0000;
}

a:visited{
    color: #8b0000;
}

a:active{
    color: #8b0000;
}
/* 12.c */

nav{
    background-color: rgb(10, 5, 80);
}

li.nav-item{
    margin-right: 20px;
}

p.card-text{
    text-align: center;
    font-size: larger;
}

#alap{
    background-color: white;
}
